
.vazno {
    color:rgb(0, 200, 255);
}
#bitanspan {
    color:brown;
    background-color: antiquewhite;
}
span {
    background-color: blue;
    color: blanchedalmond;}

h1{
    background-color: rgb(226, 43, 208);
}
.vesti div{
    background-color: rgb(195, 43, 226);
    
}

p { 
font-size: medium;
font-style: italic;
 font-weight: bold;
text-align: center;
font-family: mojfont;

}
@font-face {
    font-family: mojfont;
    src: url(./Caveat-Medium.ttf);
}
               

